/*
==========================
COLORS
==========================
*/
$dark-grey: #757575;
$light-grey: #D1D1D1;

$dark-blue: #061348;
$blue: #315AFF;
$light-blue: #E5E9FA;

$red: #FE0000;

/*
==========================
FONTS
==========================
*/
$tab-font: "Helvetica Neue", Helvetica, 'Varela Round', sans-serif;

/*
==========================
CONTAINER
==========================
*/


/*
==========================
HEADER
==========================
*/


/*
==========================
FOOTER
==========================
*/


/*
==========================
PROJECTS CONTAINER
==========================
*/

